/* Разметка для лого не более 45х45 */
/*
////////////////////////////////
////////////Table///////////////
///////////////////////////////
*/
#hor-zebra
{
	color: #000000; 
	background: url(/images/fire.jpg); 
	border: 3px #CCCCCC solid; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml- border-radius: 10px; 
	border-radius: 10px; 
	padding: 3px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 5px;
	width: 100%;
	text-align: center;
}
#hor-zebra th
{	
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #039;
}
#hor-zebra a
{	
	color: #000;
}
#hor-zebra td
{
	padding: 8px;
	color: #669;
}
#hor-zebra .first
{
	color: #FFFFFF;
	background: #FF0000; 
}
#hor-zebra .second
{	
	color: #FFFFFF;
	background: #FF4800; 
}
#hor-zebra .third
{
	color: #FFFFFF;
	background: #FF9000; 
}
#hor-zebra .other
{	
	background: #FFFFFF; 
}
#hor-zebra .header
{
	background: #80D5FF; 
}
#hor-zebra .tasks
{
	color: 000000;
	background: #00FF37; 
}
#hor-zebra .number
{
	background: #000000; 
}
#hor-zebra .name
{
	font-size: 20px;
	background-image: url(/images/img01.jpg) no-repeat center top; 
	color: #ffffff;
}
#hor-zebra .images
{
	width: 48px;
	margin: 0;
	padding: 0;
}
#hor-zebra .logo
{
	 width: 50px;
	 height: 50px;
	 margin: 0;
	 padding: 0;
}
#hor-zebra .score
{
	background: #00F7FF; 
}
#hor-zebra .solved
{
	color: #FFFFFF;
	background: #FF0000; 
}
#hor-zebra tr:hover td
{
	color: #FFFFFF;
	background: url(/images/fire3.jpg) no-repeat;
}
#hor-zebra tr:hover a
{
	color: #FFFFFF;
	background: url(/images/fire3.jpg) no-repeat;
}