/* Разметка для лого не более 45х45 */
.text{
	background: #ffffff;
	color: #000000;
}
.overlayclass {
	display: none;
	position: absolute;
	min-height: 150px;
	/*background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px auto;	
	*/
	color: #fff; 
	background: url(/static/images/fox111.jpg); 
	border: 5px #CCCCCC solid; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml- border-radius: 10px; 
	border-radius: 10px; 
	padding: 5px auto;	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	left: 5%;
	right: 5%;
	/*min-height: 250px;*/
	text-align: center;
}
.frm {
	display: none;
}
.close{
	float: right;
	background: #fff;
	position: relative;
	top: 0;
}
.visible {
	display: block;
}
.hidden {
    display: none;
}
body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #FFA800;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}
a {
	text-decoration: none;
	color: #6E7A8A;
}
a:hover {
	text-decoration: underline;
}
img.border {
	border: 6px solid #EEE7DF;
}
img.alignleft {
	float: left;
	margin-right: 25px;
}
img.alignright {
	float: right;
}
img.aligncenter {
	margin: 0px auto;
}
#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
	background: url(/static/images/fox22.jpg) no-repeat center top;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;go
	margin: 0px auto;
	padding: 80px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	letter-spacing: -1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 54px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h2 {
	margin: 50px;
	letter-spacing: -1px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: bold;
	font-size: 32px;
	color: #FFA800;
}

#logo p {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}
/* Menu */
#menu-wrapper {
	overflow: hidden;
	height: 60px;
	background: #212121;
	margin: 0px auto;
}
#menu {
	width: 940px;
	margin: 0px auto;
}
#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}
#menu li {
	float: left;
	margin-right: 1px;
}
#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #B5B5B5;
	border: none;
}
#menu .current_page_item a {
	background: #FFA800;
	color: #FFFFFF;
}
#menu a:hover {
	background: #FFA800;
	text-decoration: none;
	color: #FFFFFF;
}
/* Page */

#page {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	background-image: url(/static/images/img01.jpg);
}
/* Content */

#content {
	/*float: left;*/
	text-align: center;
	float: center;
	width: 90%;
	padding: 0px 0px 0px 0px;
}

.post {
	clear: both;
	padding-bottom: 10px;
}

.post .title {
	padding-top: 10px;
	letter-spacing: -2px;
	text-align: center;
}

.post .title a {
	color: #FFA800;
	border: none;
}

.post .meta {
	padding-bottom: 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}


.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	border-top: 1px solid #B6BFD0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #576475;
}

#footer a {
	color: #576475;
}

/*
////////////////////////////////
////////////Table///////////////
///////////////////////////////
*/
#hor-zebra
{
	color: #000000; 
	/*background: url(/static/images/fire.jpg); */
	border: 3px #CCCCCC solid; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	-khtml- border-radius: 10px; 
	border-radius: 10px; 
	padding: 3px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 45px;
	width: 100%;
	text-align: center;
}
#hor-zebra th
{	
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: #039;
}
#hor-zebra a
{	
	color: #000;
}
#hor-zebra td
{
	padding: 8px;
	color: #669;
}
#hor-zebra .first
{
	color: #FFFFFF;
	background: #FF0000; 
}
#hor-zebra .second
{	
	color: #FFFFFF;
	background: #FF4800; 
}
#hor-zebra .third
{
	color: #FFFFFF;
	background: #FF9000; 
}
#hor-zebra .other
{	
	background: #FFFFFF; 
}
#hor-zebra .header
{
	background: #80D5FF; 
}
#hor-zebra .tasks
{
	color: 000000;
	background: #00FF37; 
}
#hor-zebra .number
{
	background: #000000; 
}
#hor-zebra .name
{
	font-size: 20px;
	background-image: url(/static/images/img01.jpg) no-repeat center top; 
	color: #ffffff;
}
#hor-zebra .images
{
	width: 48px;
	margin: 0;
	padding: 0;
}
#hor-zebra .logo
{
	 width: 50px;
	 height: 50px;
	 margin: 0;
	 padding: 0;
}
#hor-zebra .score
{
	background: #00F7FF; 
}
#hor-zebra .solved
{
	color: #FFFFFF;
	background: #FF0000; 
}
#hor-zebra tr:hover td
{
	background-color: rgb(128, 213, 255);
}
#hor-zebra tr:hover a
{
	background-color: rgb(128, 213, 255);
}
